<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melee Tracker</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
    <script src="https://code.highcharts.com/highcharts.js"></script>
    <script src="https://code.highcharts.com/modules/exporting.js"></script>
    <script src="https://code.highcharts.com/modules/export-data.js"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Melee Tracker</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="../players">Players</a></li>
            <li class="nav-item"><a class="nav-link" href="../characters">Characters</a></li>
            <li class="nav-item"><a class="nav-link" href="../matches">Matches</a></li>
            <li class="nav-item"><a class="nav-link" href="../stages">Stages</a></li>
            <li class="nav-item"><a class="nav-link" href="../sets">Sets</a></li>
            <li class="nav-item"><a class="nav-link" href="../strikes">Strikes</a></li>
            <li class="nav-item"><a class="nav-link" href="../rock_paper_scissors">Rock Paper Scissors</a></li>
            <li class="nav-item"><a class="nav-link" href="../tournament_types">Tournament Types</a></li>
            <li class="nav-item"><a class="nav-link" href="../tournaments">Tournaments</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics/stage">Stage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics/character">Character</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics/player">Player</a></li>
                    <li class="nav-item"><a class="nav-link active" href="/statistics/miscellaneous">Miscellaneous</a></li>
                </ul>
            </div>
        </nav>

        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1>Average Stock Difference</h1>
            <table id="averageStockDifference" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Average Stock Difference</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="average_stock_difference: ${average_stock_difference}">
                    <td th:text="${average_stock_difference.averageStockDifference}">Average Stock Difference</td>
                </tr>
                </tbody>
            </table>
            <h1>Player Rock Paper Scissors Win Rate</h1>
            <table id="playerRockPaperScissorsWinRate" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Player ID</td>
                    <td>Win Percentage</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player_rock_paper_scissors_win_rate: ${player_rock_paper_scissors_win_rate}">
                    <td th:text="${player_rock_paper_scissors_win_rate.playerId}">Player ID</td>
                    <td th:text="${player_rock_paper_scissors_win_rate.winPercentage}">Win Percentage</td>
                </tr>
                </tbody>
            </table>
            <h1>Popular Throws</h1>
            <table id="popularThrows" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Throw Name</td>
                    <td>Count</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="popular_throw: ${popular_throws}">
                    <td th:text="${popular_throw.throwName}">Throw Name</td>
                    <td th:text="${popular_throw.count}">Count</td>
                </tr>
                </tbody>
            </table>
            <h1>Tournament Type Frequency</h1>
            <table id="tournamentTypeFrequency" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Tournament Type ID</td>
                    <td>Count</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="tournament_type_frequency: ${tournament_type_frequency}">
                    <td th:text="${tournament_type_frequency.tournamentTypeId}">Tournament Type ID</td>
                    <td th:text="${tournament_type_frequency.count}">Count</td>
                </tr>
                </tbody>
            </table>
            <h1>Matches Played Over Time</h1>
            <table id="matchesPlayedOverTime" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Day</td>
                    <td>Count</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="matches_played_over_time: ${matches_played_over_time}">
                    <td th:text="${matches_played_over_time.day}">Day</td>
                    <td th:text="${matches_played_over_time.count}">Count</td>
                </tr>
                </tbody>
            </table>
            <div id="container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
<script th:inline="javascript">
/*<![CDATA[*/
$(document).ready(function () {
    $('#averageStockDifference').DataTable();
    $('#playerRockPaperScissorsWinRate').DataTable();
    $('#popularThrows').DataTable();
    $('#tournamentTypeFrequency').DataTable();
    $('#matchesPlayedOverTime').DataTable();
    $('.dataTables_length').addClass('bs-select');
});

    var popularThrows = /*[[${popular_throws}]]*/ 'default';
    console.log(popularThrows);

    var throwData = [];
for (var i = 0; i < popularThrows.length; i++){
    throwData.push({ name: popularThrows[i].throwName, y: popularThrows[i].count });
}

Highcharts.chart('container', {
        chart: {
            plotBackgroundColor: null,
            plotBorderWidth: null,
            plotShadow: false,
            type: 'pie'
        },
        title: {
            text: 'Popular Rock Paper Scissors Throws'
        },
        tooltip: {
            pointFormat: '{series.name}: <b>{point.percentage:.1f}%</b>'
        },
        plotOptions: {
            pie: {
                allowPointSelect: true,
                cursor: 'pointer',
                dataLabels: {
                    enabled: true,
                    format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                    style: {
                        color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                    }
                }
            }
        },
        series: [{
            name: 'Popular Throws',
            colorByPoint: true,
            data: throwData
        }]
    });
/*]]>*/
</script>
</body>
</html>