<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melee Tracker</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
    <link rel="stylesheet" type="text/css" href="/css/dashboard.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
    <a class="navbar-brand" href="#">Melee Tracker</a>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item"><a class="nav-link" href="../players">Players</a></li>
            <li class="nav-item"><a class="nav-link" href="../characters">Characters</a></li>
            <li class="nav-item"><a class="nav-link" href="../matches">Matches</a></li>
            <li class="nav-item"><a class="nav-link" href="../stages">Stages</a></li>
            <li class="nav-item"><a class="nav-link" href="../sets">Sets</a></li>
            <li class="nav-item"><a class="nav-link" href="../strikes">Strikes</a></li>
            <li class="nav-item"><a class="nav-link" href="../rock_paper_scissors">Rock Paper Scissors</a></li>
            <li class="nav-item"><a class="nav-link" href="../tournament_types">Tournament Types</a></li>
            <li class="nav-item"><a class="nav-link" href="../tournaments">Tournaments</a></li>
        </ul>
    </div>
</nav>
<div class="container-fluid">
    <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-light sidebar">
            <div class="sidebar-sticky">
                <ul class="nav flex-column">
                    <li class="nav-item"><a class="nav-link" href="../">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics/stage">Stage</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics/character">Character</a></li>
                    <li class="nav-item"><a class="nav-link active" href="#">Player</a></li>
                    <li class="nav-item"><a class="nav-link" href="/statistics/miscellaneous">Miscellaneous</a></li>
                </ul>
            </div>
        </nav>
        <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
            <h1>Player Win Rate</h1>
            <table id="playerWinRate" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Participant</td>
                    <td>Win Rate</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player_win_rate: ${player_win_rate}">
                    <td th:text="${player_win_rate.playerId}">Participant</td>
                    <td th:text="${player_win_rate.winPercentage}">Count</td>
                </tr>
                </tbody>
            </table>
            <h1>Player Win Rate By Player</h1>
            <table id="playerWinRateByPlayer" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Participant</td>
                    <td>Opponent</td>
                    <td>Win Rate</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player_win_rate_by_player: ${player_win_rate_by_player}">
                    <td th:text="${player_win_rate_by_player.playerId}">Participant</td>
                    <td th:text="${player_win_rate_by_player.opponentPlayerId}">Opponent</td>
                    <td th:text="${player_win_rate_by_player.winPercentage}">Count</td>
                </tr>
                </tbody>
            </table>
            <h1>Character Pick Rate By Player</h1>
            <table id="CharacterPickRateByPlayer" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Player ID</td>
                    <td>Character ID</td>
                    <td>Pick Rate</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="character_pick_rate_by_player: ${character_pick_rate_by_player}">
                    <td th:text="${character_pick_rate_by_player.playerId}">Player ID</td>
                    <td th:text="${character_pick_rate_by_player.characterId}">Character ID</td>
                    <td th:text="${character_pick_rate_by_player.gamesPlayed}">Pick Rate</td>
                </tr>
                </tbody>
            </table>
            <h1>Player Win Rates By Character</h1>
            <table id="playerWinRateByCharacter" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Player ID</td>
                    <td>Character ID</td>
                    <td>Win Rate</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player_win_rate_by_character: ${player_win_rate_by_character}">
                    <td th:text="${player_win_rate_by_character.playerId}">Player ID</td>
                    <td th:text="${player_win_rate_by_character.characterId}">Character ID</td>
                    <td th:text="${player_win_rate_by_character.winPercentage}">Win Rate</td>
                </tr>
                </tbody>
            </table>
            <h1>Player Matches Played</h1>
            <table id="playerMatchesPlayed" class="table table-striped table-bordered table-sm">
                <thead>
                <tr>
                    <td>Player ID</td>
                    <td>Games Played</td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="player_matches_played: ${player_matches_played}">
                    <td th:text="${player_matches_played.playerId}">Player ID</td>
                    <td th:text="${player_matches_played.gamesPlayed}">Games Played</td>
                </tr>
                </tbody>
            </table>
        </main>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
</body>
</html>