<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css">
</head>
<body>
<nav class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="#">Characters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Players</a>
    </li>
</nav>
<h1>Players</h1>
<table id="playerTable" class="table table-striped table-bordered table-sm">
    <thead>
        <tr>
            <td>ID</td>
            <td>Name</td>
            <td>Alias</td>
        </tr>
    </thead>
    <tbody>
        <tr th:each="player: ${players}">
            <td th:text="${player.playerId}">Player ID</td>
            <td th:text="${player.name}">Player Name</td>
            <td th:text="${player.alias}">Player Alias</td>
        </tr>
    </tbody>
</table>
<script>
$(document).ready(function () {
    $('#playerTable').DataTable();
    $('.dataTables_length').addClass('bs-select');
});
</script>
</body>
</html>