<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Melee Tracker</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<nav class="nav nav-tabs">
    <li class="nav-item">
        <a class="nav-link" href="../">Index</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../players">Players</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../characters">Characters</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../matches">Matches</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../stages">Stages</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../sets">Sets</a>
    </li>
    <li class="nav-item">
        <a class="nav-link active" href="#">Strikes</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../rock_paper_scissors">Rock Paper Scissors</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../tournament_types">Tournament Types</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="../tournaments">Tournaments</a>
    </li>
</nav>
</body>
</html>